

<div class="container col-md-3 " style="margin-top: 9%;" >
           
<!--form login -->
    <form class="text-center border border-light p-5 gradient-card-header cloudy-knoxville-gradient">

        
            <!--Header-->
            <div class=" text-center pb-4">
              <h3 class="modal-title w-100 black-text font-weight-bold" id="myModalLabel">
                <strong>SIGN</strong>
                <a class="orange-text font-weight-bold">
                <strong> UP</strong>
                </a>
              </h3>
              </div>
              

        <!-- <p class="h3 mb-4">Sign in</p> -->
    
        <div style="margin: 80px; margin-bottom: 30px; margin-top: 5px;">
            <img src="../../assets/Images\Logo\Cantima.png" class="img-fluid" alt="...">
        </div>
        <!-- Username -->
        <input  id="Username" class="form-control mb-4" placeholder="Username">
    
        <!-- Password -->
        <input type="password" id="Password" class="form-control mb-4" placeholder="Password">
    
        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>
    
        <!-- Sign in button -->
        <button mdbBtn color="warning" block="true" class="my-4" type="submit" [routerLink]="['/instock']">Sign in</button>
            
           
        <p>Not a member? <a href="">Register</a></p>
           
        
             
    </form>
  <!-- Default form login -->
</div>
