

<div class="container col-md-3 " style="margin-top: 10%;" >
           
<!--form login -->
    <form class="text-center border border-light p-5 gradient-card-header cloudy-knoxville-gradient">

        <p class="h3 mb-4">Sign in</p>
    
        <div style="margin: 80px; margin-bottom: 30px; margin-top: 25px;">
            <img src="../../assets/Images\Logo\Cantima.png" class="img-fluid" alt="...">
        </div>
        <!-- Username -->
        <input  id="Username" class="form-control mb-4" placeholder="Username">
    
        <!-- Password -->
        <input type="password" id="Password" class="form-control mb-4" placeholder="Password">
    
        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>
    
        <!-- Sign in button -->
        <button mdbBtn color="warning" block="true" class="my-4" type="submit">Sign in</button>
    
    
        
    
    
  
    </form>
  <!-- Default form login -->
</div>
