 
    <!--Grid column-->
    <div class="col-lg-2 col-md-2 col-sm-2 mb-4 position-fixed "  >  
   
      <!-- Card -->
      <div class="card " style="background-color: #ff3300;   height: 800px; " mdbWavesEffectng >

        <!-- card-->
        <div class="text-white  ">

          
            <div style="margin: 40px;">
            
              <h5><strong><b>Overview</b></strong></h5>
            </div>
            </div>
          
          <!--Content-->
          
          <div class="container text-white" style="padding-left: 50px;" >

            <div>
              <h4>Orders Today</h4>
            </div>
            <div >
              <h2><strong>200</strong></h2>
            </div>
            
          </div>

          <div class="container text-white" style="padding-left: 50px; padding-top: 25px;" >

              <div>
                <h4>Pending Orders</h4>
              </div>
              <div>
                <h2><strong>54</strong></h2>
              </div>
           
          </div>

          <div class="container text-white" style="padding-left: 50px; padding-top: 25px;" >

            <div>
              <h4>Completed Orders</h4>
            </div>
            <div>
              <h2><strong>146</strong></h2>
            </div>
            
          </div>


          <div class="container text-white" style="padding-left: 50px; padding-top: 25px;" >

            <div>
              <h4>Canceled Orders</h4>
            </div>
            <div>
              <h2><strong>36</strong></h2>
            </div>
            
          </div>

        
        <!--card-->
      </div>
    </div>

    <!--Grid column-->
  <!-- </div> -->