<div class="row" style=" margin-top: 7%;">
    <div class="col-lg-2 col-md-2">
      <app-dcard></app-dcard>
    </div>
    
    <div class="container col-lg-9 col-md-9" >

        <div>
            <div class="row" style="margin: 0px; padding: 0px;">

                <div class="col">
                    <h3>Credit Convert</h3>
                </div>
                <div class="col">

                  <!-- Search form -->
                    <!-- <form class="form-inline waves-light" mdbWavesEffect>
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        </div>
                    <button type="button" mdbBtn color="warning" style="padding: 10px; box-shadow: none; box-sizing: initial;" mdbWavesEffect><mdb-icon fas icon="search" size="1.5x" ></mdb-icon></button> 
                    </form> -->
                </div>

                <!-- Sort select -->
                <!-- <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Sort Type</option>
                        <option value="1">Price</option>
                        <option value="2">Name</option>
                        <option value="3">Quantity</option>
                        <option value="3">Rating</option>
                      </select>
                </div> -->

                 <!-- -------------------New Item-------------------------- -->

                 <div class="col " style="text-align: right;">
                    <button class="black-text " type="button" mdbBtn color="warning" style="margin-bottom: 10px; margin-top: 0px; box-sizing: content-box;"  data-toggle="modal" data-target="#basicExample"
                    (click)="frame.show()"  mdbWavesEffect>
                      <strong>Convert</strong> 
                      <mdb-icon fas icon="plus" size="1.5x" style="margin-left: 15px;"></mdb-icon>
                    </button>
                    
                </div>
            
               
            
                <!-- --------------table----------------- -->
                
            <table class="table table-striped "  mdbTable hover='true' >
                <thead class="text-center" style="background-color: rgb(245, 245, 245)" >
                    <tr >
                    <th> Convertion ID</th>
                    <th> User  ID</th>
                    <th> Date</th>
                    <th> Time</th>
                    <th> Amount</th>
                    <th> Cashier</th>
                    <th>  </th>
                    </tr>
                   

                    <!-- example lines -->
                    <tr>
                        <td>123456</td>
                        <td>1704090</td>
                        <td>7/10/2020</td>
                        <td>15:25</td>
                        <td>Rs 300.00</td>
                        <td>Jhon</td>
                        
                        <td>
                            <span class="table-edit">

                              
                              <!-- <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="relative waves-light" (click)="editModal.show()" mdbWavesEffect >Edit</button> -->
                              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" ><mdb-icon fas icon="trash"></mdb-icon></button>

                              <!-- <div mdbModal #editModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
                                  aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-full-height modal-right" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header text-center">
                                      <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                                        <span aria-hidden="true">×</span>
                                      </button>
                                      
                                      <h4 class="modal-title w-100 font-weight-bold">Edit Item</h4>
                                      
                                    </div>

                                    <div class="modal-body mx-3">
                                      <form class="border border-0 p-4" id="add-item">
                                        
                                          <div>                       
                                              <input type="text" id="textInput" class="form-control mb-4" placeholder="Product Name">
                                          </div>
                                          <div class="input-group mb-2 mr-sm-2">
                                            <div class="input-group-prepend">
                                              <div class="input-group-text">Rs.</div>
                                            </div>
                                            <input mdbInput type="number" class="form-control py-0" min="1" id="price"  placeholder="Price">
                                          </div>
                                        
                                        <select class="browser-default custom-select mb-4" id="select">
                                            <option value="" disabled="" selected="">Choose the category</option>
                                            <option value="1">Short Eats</option>
                                            <option value="2">Rice & Curry</option>
                                            <option value="3">Beverages</option>
                                            <option value="3">Deserts</option>
                                        </select>
                                        <select class="browser-default custom-select mb-4" id="select">
                                          <option value="" disabled="" selected="">Menu time</option>
                                          <option value="1">Breakfirst (till 11a.m)</option>
                                          <option value="2">Lunch (11a.m-3p.m)</option>
                                          <option value="3">Evening (after 3p.m)</option>
                                          <option value="3">All Day</option>
                                        </select>
                                  
                                        <div class="input-group mb-4">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fileInput" aria-describedby="fileInput" multiple>
                                                <label class="custom-file-label" for="fileInput">Select Images</label>
                                            </div>
                                        </div>
                                      
                                          
                                                <div class="custom-control custom-checkbox mb-3">
                                                    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                                                    <label class="custom-control-label" for="customControlValidation1">Vegetarian</label>                               
                                                </div>
                                          
                                      
                                        <textarea id="textarea" class="form-control mb-4" placeholder="Description"></textarea>
                                      
                                    </form>
                                    </div>
                              
                                    <div class="modal-footer d-flex justify-content-center">
                                      <button mdbBtn color="warning" class="waves-light" mdbWavesEffect>Save Item</button>
                                    </div>
                                  </div>
                                </div>
                              </div> -->

                            </span>
                          </td>

                         
                    </tr>

                   
                </thead>                      
                
                
            </table>



            
        </div>
        </div>


    </div>
</div>


    <!--pop up Model -->

    <div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
    <div class="modal-content">
    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Convert Credits</h4>
    </div>
    

    <div class="modal-body mx-3">
        <form class="border border-0 p-4" id="add-item">
        
            <div>                       
                <input type="text" id="textInput" class="form-control mb-4" placeholder="UserID">
            </div>
            
            <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Rs.</div>
            </div>
            <input mdbInput type="number" class="form-control py-0" min="1" id="price"  placeholder="Amount">
            </div>
               
        
    </form>
    </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    
    
    <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="warning" class="waves-light " (click)="confirmModal.show()" mdbWavesEffect>Confirm</button>
    </div>
    </div>
    </div>
    </div>

    <!-- confirm Model -->

    <div mdbModal #confirmModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myconfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="confirmModal.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title text-center w-100" id="myModalLabel">Confirm Convertion</h4>
            </div>
            <div class="modal-body text-center">
               An amount of ***** credits will be added to the account :
              <br> 
              UserID: ******
              <br>
              Name: ****** 
              <br> 
              Please verify above details before confirming.
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="confirmModal.hide()" mdbWavesEffect>Cancel</button>
              <button type="button" mdbBtn color="success" class="relative waves-light" (click)="confirmModal.hide() ; frame.hide()" mdbWavesEffect>Confirm</button>
            </div>
          </div>
        </div>
    </div>

