



<div class="row justify-content-end" style="margin-left: 380px;">

   
        <div class="col-md-12" > 

            

            <div class="row" style="margin: 0px; padding: 0px;">

                <div class="col">
                    <h3>In Stock</h3>
                </div>
                <div class="col">

                  <!-- Search form -->
                  <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    </div>
                </form>
                </div>

                <!-- Sort select -->
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Sort Type</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>

                <!-- New Item -->
                <div class="col " style="text-align: right;">
                    <button class="black-text" type="button" mdbBtn color="warning" style="margin-bottom: 10px; margin-top: 0px; " mdbWavesEffect>New Item <mdb-icon fas icon="plus" style="margin-left: 15px;"></mdb-icon></button>
                    
                </div>
            
         
            <table class="table table-striped " mdbtable >
                <thead class="hoverable" style="background-color: rgb(245, 245, 245)" >
                    <tr >
                    <th> Product Code</th>
                    <th> Product Name</th>
                    <th> Price</th>
                    <th> Availability</th>
                    <th> Rating</th>
                    <th> Quantity</th>
                    <th> -------</th>                   
                    </tr>
                    <!-- Data from products table database goes here -->

                    <!-- <tr *ngFor = "let item of products">
                        <td>{{products.Code}}</td>
                        <td>{{products.Name}}</td>
                        <td>{{products.Price}}</td>
                        ......
                        
                        </tr> -->
                    </thead>                      
                
                
            </table>



            
    </div>
</div>



































    
        
        
  






